/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* 页面背景颜色 */
    margin: 0; /* 去除页面默认外边距 */
    padding: 0; /* 去除页面默认内边距 */
}

/* 自定义 header 样式 */
header.center {
    background-color: #f8f9fa; /* 设置背景颜色为浅灰色 */
    text-align: center; /* 确保文本和图片居中 */
    padding: 20px 0; /* 上下内边距 */
}

header img {
    display: block; /* 确保图片是块级元素 */
    max-width: 200px; /* 设置 logo 的最大宽度 */
    margin: 0 auto; /* 水平居中图片 */
}

/* 自定义页脚样式 */
footer {
    position: fixed; /* 固定位置 */
    bottom: 0; /* 距离视口底部 0 像素 */
    left: 0; /* 距离视口左边 0 像素 */
    width: 100%; /* 设置宽度为 100% */
    background-color: #53565A; /* 背景颜色 */
    color: #F4F5F0; /* 文本颜色 */
    padding: 10px 0; /* 上下内边距 */
    border-top: 1px solid #dee2e6; /* 顶部边框 */
    text-align: center; /* 文本居中 */
}
