body {
	font-family: Arial, sans-serif;
	background-color: #fffbea;
	color: #333;
	margin: 0;
	padding: 0;
}

header {
	background-color: #ffcc00;
	color: #e60000;
	text-align: center;
	padding: 20px;
}

	header img {
		max-width: 100px;
	}

main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

footer {
	background-color: #ffcc00;
	color: #e60000;
	text-align: center;
	padding: 10px;
	position: fixed;
	width: 100%;
	bottom: 0;
}
